{% extends 'base.html' %}
{% block content %}
     <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">सूचना</h1>
        </div>
      </section>

  <div class="album py-5 bg-light">
        <div class="container">
        <ol>
            {% for notice in notice.all %}
                <li><font color="black">{{ notice.title }}</font> Upload On: {{ notice.date }}.<a href="{{ notice.file.url }}" style="text-decoration: none "><u>Click Here</u></a>

            </li>
            {% endfor %}
        </ol>
        </div>
      </div>
{% endblock %}