{% extends 'base.html' %}
{% block content %}

 <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-11">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ news.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{ news.body }}..</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">  {{ news.date }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}