{% extends 'base.html' %}
{% block content %}


<style>


/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}
  




</style>
<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">समाचार (News)</h1>
        </div>
      </section>
    <div class="container">
            <h3 class="lead text-active"><span style="font-weight:bold">Latest News:</span></h3>
        </div>

 <div class="album py-5 bg-light">

     <div class="container">
          <div class="row">
            {% for news in queryset %}
            <div class="col-md-5">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ news.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{ news.get_body }}..</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                    <a href="{{ news.get_absolute_url }}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button><a/>
                    </div>
                    <small class="text-muted">  {{ news.date }}</small>
                  </div>
                </div>
              </div>


  <!-- Pagination -->
  
   
  

            </div>
            {% endfor %}

            
                </div>

          
                
                
            </div>






              
             
             
              
             


           
            <div class="pagination">
                

            {% if queryset.has_previous %}  
            <a href="?{{ page_request_var }}={{ queryset.previous_page_number }}">&laquo;</a>              
            <a href="?{{ page_request_var }}={{ queryset.previous_page_number }}">Previous</a>
           
            {% endif %}
           <!--- <a class="active" href="#">2</a> -->
            <a class="active" href="?{{ page_request_var }}={{ queryset.number }}">{{ queryset.number }}</a>
            
        
            {% if queryset.has_next %}
            <a href="?{{ page_request_var }}={{ queryset.next_page_number }}">Next</a>
            <a href="?{{ page_request_var }}={{ queryset.next_page_number }}">&raquo;</a>
            {% endif %}
        </div>      


{% endblock %}