{% extends 'base.html' %}
{% block content %}
    {% load static %}
<link href="{% static 'contact.css' %}" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->

<!-- CONTACT SECTION -->
<section id="contact" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                    <br>
                    <br>
                         <h2>Feedback Us:</h2>
                         <p>We will be respoinding as fast as possible.</p>
                    </div>
               </div>

               <div class="col-md-7 col-sm-10">
                    <!-- CONTACT FORM HERE -->
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <form id="contact-form" action="{% url 'contact' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                              <div class="col-md-6 col-sm-6">
                                   <input type="text" class="form-control" name="name" placeholder="Name" required="">
                              </div>
                              <div class="col-md-6 col-sm-6">
                                   <input type="email" class="form-control" name="email" placeholder="Email" required="">
                              </div>
                              <div class="col-md-12 col-sm-12">
                                   <textarea class="form-control" rows="5" name="message" placeholder="Message" required=""></textarea>
                              </div>
                              <div class="col-md-offset-8 col-md-4 col-sm-offset-6 col-sm-6">
                                   <button id="submit" type="submit" class="form-control" name="submit">Send Message</button>
                              </div>
                        </form>
                    </div>
               </div>

               <div class="col-md-5 col-sm-8">
                    <!-- CONTACT INFO -->
                    <div class="wow fadeInUp contact-info" data-wow-delay="0.4s">
                         <div class="section-title">
                              <h2>Contact Info</h2>
                              <p>We will be very glad if you feedback in our Email.</p>
                         </div>

                         <p><i class="fa fa-map-marker"></i> 44600, Changu Narayan, Bhaktapur, Nepal</p>
                         <p><i class="fa fa-comment"></i> <a href="mailto:narayanchangu80@gmail.com">narayanchangu80@gmail.com</a></p>
                         <p><i class="fa fa-phone"></i>015141110</p>
                    </div>
               </div>

          </div>
     </div>
</section><br>
<br>
{% endblock %}