{% extends 'base.html' %}
{% block content %}
 <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">चागुँ नारायण</h1>
          <div class="container"><img class="rounded-circle img-fluid" src="https://i2.wp.com/vedicfeed.com/wp-content/uploads/2019/01/Changu-Narayan-Temple.jpg?resize=720%2C469&ssl=1" height=500 width=500> <p></p></div>
          <p class="lead text-muted">Enjoy great Himalayan view to the north east including Mt. Everest, visit UNESCO World Heritege Site (Changu Narayan Temple) Nagarkot 2100m high hill east from Kathmandu, is one of the popular destinations to see The sunrise, Majestic Himalayan view. On a clear day, Himalayan peak including Mt. Everest, Sishapangma, Langtang Lirung, Dorje Lakpa and many other peaks can be seen.</p>
          <p>
            <a href="https://en.wikipedia.org/wiki/Changu_Narayan_Temple" class="btn btn-primary my-2">Explore More</a>
            <a href="https://www.google.com/maps/place/Changunarayan+Temple/@27.716483,85.425641,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1b2f6796e973:0xac800051852f6c0!8m2!3d27.716483!4d85.4278297" class="btn btn-secondary my-2">Locate Us</a>
          </p>
        </div>
      </section>
        <div class="container">
            <h4 class="lead text-active"><span style="font-weight:bold">चागुँ सम्पदा संरक्षण युवा समुह</span></h4>
            <p>Our club is all about the promotion and preservations of the world listed site Changu Narayan. We are admiring, involving, awaring the local as well as the tourist about the importance about Changu Narayan.</p>
            <h3 class="lead text-active"><span style="font-weight:bold">Latest Notice:</span></h3>
        </div>

  <div class="album py-5 bg-light">
        <div class="container">
        <ol>
            {% for notice in notice.all %}
                <li><font color="black">{{ notice.title }}</font> Upload On: {{ notice.date }}.<a href="{{ notice.file.url }}" style="text-decoration: none "><u>Click Here</u></a>

            </li>
            {% endfor %}
        </ol>
        </div>
      </div>
<div class="container">
<br><br>
            <h3 class="lead text-active"><span style="font-weight:bold">Latest News:</span></h3>
            
        </div>

 <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for news in news_home.all %}
            <div class="col-md-5">
              <div class="card mb-4 box-shadow">
              <div class="card mb-3" style="height=20rem;">
                <img class="card-img-top" src="{{ news.image.url }}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <p class="card-text">{{ news.get_body }}..</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{{ news.get_absolute_url }}" <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    </div>
                    <small class="text-muted">  {{ news.date }}</small>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>

    </main>

{% endblock %}